
.prod-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.prod-form h2 {
    color: #333;
    text-align: center;
    margin: 0 auto 20px auto;
    width: fit-content;
}

.prod-form img {
    width: 100px;
    height: auto;
    display: block;
    margin: 10px auto;
}


.prod-form p {
    margin-top: 0;
    margin-bottom: 10px;
    color: #666;
}


.prod-form input[type="text"],
.prod-form textarea,
.prod-form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}


.prod-form select {
    display: block;
    height: 40px;
}


.prod-form .form-error {
    color: #d33;
    font-size: 0.8em;
}


.prod-submit {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.prod-submit:hover {
    background-color: #4cae4c;
}


.loading {
    text-align: center;
    font-style: italic;
    color: #666;
}
