.navigation-bar {
  background-color: #131921;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navigation-ul-container {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.logo-container {
  height: 10%;
  margin-top: 2%;
  margin-left: 5px;
}

.logo-navigation-container {
  display: flex;
  margin-left: 10px;
  margin-right: 40px;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  max-height: 60px;
}

.logo-text {
  font-size: 1.2rem;
  color: white;
  top: 30px;
}

.logo-img {
  width: 130px;
  position: relative;
  top: -40px;
  left: -10px;
  z-index: 1;
}
.logo-imgx {
  width: 16px;
  position: relative;
  z-index: 1;
}

.search-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin: 0 20px;
}

.search-wrapper {
  width: 50%;
}

.search-form {
  width: 95%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.search-bar {
  width: calc(100% - 40px);
  margin: 0 20px;
  height: 30px;
  align-self: center;
  flex: 1;
  border: 1px solid grey;
  border-radius: 5px 0 0 5px;
  padding: 2px 5px;
}

.search-bar:focus {
  border-top: 2px solid #212121;
  border-left: 2px solid #212121;
  border-bottom: 2px solid #212121;
  box-shadow: 0 -1px #fff, 0 1px #fff, -1px 0 #fff;
  padding: 1px 4px;
  outline: none;
}

.search-btn {
  position: absolute;
  height: 100%;
  right: 0;
  background-color: white;
  color: grey;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  border-left: none;
  border-right: 1px solid grey;
  border-radius: 0 5px 5px 0;
  padding: 5px 8px;
  margin: 0;
}

.search-btn.search-focus {
  border-top: 2px solid #212121;
  border-right: 2px solid #212121;
  border-bottom: 2px solid #212121;
  box-shadow: 0 -1px #fff, 0 1px #fff, 1px 0 #fff;
  padding: 4px 7px;
  outline: none;
}

.search-btn:hover {
  background-color: #d3d3d3;
  color: black;
  border:none;
}

.logged-user-navigation-bar {
  display: flex;
  align-items: center;
}

#to-name {
  font-weight: bold;
}

.user-address {
  font-size: smaller;
  color: gray;
  margin-right: 60px;
}

.logged-user-navigation-bar {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
/* .cart-text{
  color: white;
  margin-right: 50px;
  position: relative;
  align-items: center;
}

.cart-favicon {
  color: white;
  margin: auto;
  padding-top: 34%;
  padding-bottom: -3%;
  width: 100%;
  padding-right: -20px;
}
.quantity-icon {
  color: #f08804;
  font-size: 14px;
  font-weight: bold;
  width: 22px;
  position: absolute;
  top: -5px;
  right: -1px;
  background-color: #131921;
  border-radius: 50%;
  padding: 1px 6px;
} */

.cart-text {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
  margin-right: 50px;
  margin-top: 10px;
}

.cart-favicon {
  color: white;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-icon {
  color: #f08804;
  font-size: 10px;
  font-weight: bold;
  background-color: white;
  border-radius: 50%;
  padding: 2px 5px;
  position: absolute;
  top: -10px;
  right: -10px;
}
.categories-bar {
  background-color: #232f3e;
  width: 100%;
  margin:0 50px,
}

.category-ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-around;
}

.cat-li {
  padding: px 5px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.cat-li:hover {
  background-color: #485769;
  transform: scale(1.04);

}



/* @media (max-width: 768px) {
  .search-bar {
    padding: 8px;
  }

  .logo-img {
    width: 80px;
  }

  .navigation-ul-container {
    flex-direction: column;
    align-items: stretch;
  }

  .categories-bar, .category-ul {
    width: 100%;
  }
} */
@media (max-width: 1024px) {
  .logo-img {
    display: none;
  }

  .pc-container {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }

  .pc-btn {
    width: 100%;
    height: 100%;
  }

  .search-container {
    width: 80%;
    margin: 20px auto;
  }

  .navigation-ul-container {
    justify-content: center;
  }

  .categories-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .category-ul {
    flex-direction: column;
    gap: 20px;
  }

  #to-name, .user-address {
    display: none;
  }

  .logged-user-navigation-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .cart-text {
    margin: 10px 0;
    text-align: center;
  }

  .pc-container {
    justify-content: center;
    margin: 10px auto 0;
  }
}

@media (max-width: 768px) {
  .navigation-ul-container {
    flex-direction: column;
    align-items: center;
  }

  .search-container {
    margin: 5px 10px;
    width: 100%;
  }

  .categories-bar, .category-ul {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .category-ul {
    justify-content: center;
    gap: 20px;
  }

  .cat-li {
    padding: 8px 5px;
    text-align: center;
  }

  .pc-container {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto 0;
    padding-left: 50px;
  }

  .pc-btn {
    width: 100%;
    height: 100%;
  }

  #to-name, .user-address {
    display: none;
  }

  .logged-user-navigation-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .cart-text {
    margin: 10px 0;
    text-align: center;
  }

  .pc-container {
    justify-content: center;

  }
}

@media (max-width: 480px) {
  .logo-text {
    font-size: 1rem;
  }

  .search-bar {
    padding: 6px;
  }

  .search-btn {
    padding: 4px 6px;
  }

  .user-address {
    display: none;
  }

  .cart-text {
    margin-right: 5px;
    text-align: center;
  }

  .pc-container {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .pc-btn {
    width: 100%;
    height: 100%;
    display:flex;
    align-content: center;
  }

  #to-name, .user-address {
    display: none;
  }

  .logged-user-navigation-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .cart-text {
    margin: 10px 0;
    text-align: center;
  }

  .pc-container {
    justify-content: center;

  }

  .category-ul {
    gap: 15px;
  }
}
