.navigation-bar {
  background-color: #131921;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navigation-ul-container {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.logo-container {
  height: 10%;
  margin-top: 2%;
}

.logo-navigation-container {
  display: flex;
  margin-left: 10px;
  margin-right: 40px;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  max-height: 60px;
}

.logo-text {
  font-size: 1.2rem;
  color: white;
  top: 30px;
}

.logo-img {
  width: 130px;
  position: relative;
  top: -40px;
  left: -10px;
  z-index: 1;
}

.search-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin: 0 20px;
}

.search-bar {
  width: 50%;
  padding: 8px 16px;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.search-btn {
  background-color: #febd69;
  border: none;
  padding: 8px 16px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  font-size: 16px;
}

.logged-user-navigation-bar {
  display: flex;
  align-items: center;
}

#to-name {
  font-weight: bold;
}

.user-address {
  font-size: smaller;
  color: gray;
  margin-right: 60px;
}

.logged-user-navigation-bar {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.cart-text{
  color: white;
  margin-right: 50px;


}

.cart-favicon {
  color: white;
}

.categories-bar {
  background-color: #232f3e;
  width: 100%;
  margin:0 50px,
}

.category-ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-around;
}

.cat-li {
  padding: px 5px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.cat-li:hover {
  background-color: #485769;
}



@media (max-width: 768px) {
  .search-bar {
    padding: 8px;
  }

  .logo-img {
    width: 80px;
  }

  .navigation-ul-container {
    flex-direction: column;
    align-items: stretch;
  }

  .categories-bar, .category-ul {
    width: 100%;
  }
}
