.pc-container {
  position: relative;
  height: 40px;
  z-index: 1;
  right: 30px;
}

.pc-btn {
  cursor: pointer;
  color: #f8f8f8;
  background-color: transparent;
  transition: transform .3s ease, color .3s ease;
}

.pc-btn:hover {
  color: whitesmoke;
  transform: scale(1.1);
  border: 1px solid #322b25;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.profile-dropdown {
  display: none;
  position: absolute;
  right: 0;
  background: linear-gradient(to bottom right, #151514, #d8d5d2);
  border-radius: 8px;
  padding: 10px;
  width: 180px;
  top: 98px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.profile-dropdown.show {
  display: block;
}

.profile-button-divider {
  border-style: solid;
  border-color: black;
  color:cadetblue
}

.profile-dropdown li {
  list-style: none;
  padding: 5px 20px 0px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pc-links {
  padding: 0.5rem 0.7rem;
  border: none;
  border-radius: 5px;
  font-size: 0.5rem;
  cursor: pointer;
  background-color: rgb(59, 57, 57);
}

.pc-manage {
  background-color: rgb(59, 57, 57);
  color: white;
}


.modal-close {
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 16px;
}

.profile-button-links-container {
  text-align: left;
}

.profile-button-links-container p {
  margin: 0 0 8px 5px;
}

.pc-divider {
  color:black
}

.pc-links {
  font-weight: 200;
  text-decoration: none;
  color: whitesmoke;
  transition: padding .15s, color .15s;
}

.profile-button-links:hover {
  padding-left: 2px;
  color: white;
}

#logout-button {
  background-color:gray;
  border: none;
  height: 30px;
  width: 100px;
  border-radius: 25px;
  color: white;
  text-align: center;
}

#logout-button:hover {
  background-color: #e84118;
}

@media (max-width: 768px) {
  .profile-container {
    margin-left: 0;
  }
}
